<ion-header>
  <ion-toolbar>
    <ion-title>Mis Despachos</ion-title>
    <ion-segment
      [(ngModel)]="selectedSegment"
      (ionChange)="onSegmentChanged()"
      color="primary"
    >
      <ion-segment-button value="pendientes">
        <ion-icon name="watch-outline"></ion-icon>
        <span>Pendientes</span>
      </ion-segment-button>
      <ion-segment-button value="completados">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <span>Completados</span>
      </ion-segment-button>
      <ion-segment-button value="rechazados">
        <ion-icon name="close-circle-outline"></ion-icon>
        <span>Rechazados</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Skeleton -->
  <ng-container *ngIf="loading; else dataContent">
    <ion-card *ngFor="let _ of [1,2,3]" class="skeleton-card">
      <ion-card-header>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%; margin-top: var(--spacing-sm)"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Datos -->
  <ng-template #dataContent>
    <ion-text *ngIf="error" color="danger">{{ error }}</ion-text>

    <ng-container *ngIf="!error">
      <ng-container *ngIf="displayedDespachos.length > 0; else emptyState">
        <ion-card
          *ngFor="let d of displayedDespachos"
          [ngClass]="cardClass(d.estado)"
        >
          <ion-card-header>
            <ion-card-title>{{ d.local }}</ion-card-title>
            <ion-badge [color]="badgeColor(d.estado)">{{ d.estado }}</ion-badge>
          </ion-card-header>
          <ion-card-content>
            <p class="small">
              <ion-icon name="time-outline"></ion-icon>
              {{ d.fecha.toDate() | date: 'short' }}
            </p>
            <p class="small">
              <ion-icon name="cube-outline"></ion-icon>
              {{ d.tipo_carga }}
            </p>
            <p class="small">
              <ion-icon name="bag-handle-outline"></ion-icon>
              {{ d.gestion }}
            </p>
            <div class="action-btn-group">
            <ion-button
              fill="outline"
              size="small"
              class="map-btn"
              (click)="showMapAlert(d.local)"
            >
              
              <ion-icon name="navigate-outline"></ion-icon>
              Ver Ruta
            </ion-button>

            <ng-container *ngIf="selectedSegment === 'pendientes'">
              
  <ion-button
    fill="outline"
    class="action-btn deliver"
    size="small"
    (click)="confirmarEntrega(d.id)"
  >
    <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
    Entregar
  </ion-button>
  <ion-button
    fill="outline"
    class="action-btn reject"
    size="small"
    (click)="confirmarRechazo(d.id)"
  >
    <ion-icon slot="start" name="close-circle-outline"></ion-icon>
    Rechazar
  </ion-button>
</ng-container>
</div>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ng-template #emptyState>
        <div class="ion-text-center ion-padding">
          No hay pedidos en esta sección.
        </div>
      </ng-template>
    </ng-container>
  </ng-template>
</ion-content>